<div class="page-header">
  <h3>sleep as android assertions</h3>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <%= link_to 'Insert new assertion', new_assertion_path, :class=>'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <br>
    <table class="table table-striped" id='assertions'>
      <thead>
        <tr>
          <th>Description</th>
          <th>Notes</th>
          <th>User</th>
          <th>Number of occurences</th>
          <th>Last occurence</th>
          <th>Add occurence</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Destroy</th>
        </tr>
      </thead>

      <tbody>
        <% @assertions.each do |assertion| %>
        <tr>
          <td><%= assertion.description %></td>
          <td><%= assertion.notes %></td>
          <td><%= assertion.user.username %></td>
          <td><%= Occurence.where(assertion_id: assertion.id).count %></td>
          <td><%= Occurence.where(assertion_id: assertion.id).order(date: :desc).first.date.to_s + ', build ' +
            Occurence.where(assertion_id: assertion.id).order(date: :desc).first.app_version %></td>
            <td><%= link_to 'Add occurence', new_occurence_path(:assertion_id => assertion.id), :class=>'btn btn-info' %></td>
            <td><%= link_to 'Show', assertion %></td>
            <td><%= link_to 'Edit', edit_assertion_path(assertion) %></td>
            <td><%= link_to 'Destroy', assertion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br>
