<%= simple_form_for(@excp) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fixed %>
    <%= f.input :date_fixed %>
    <%= f.input :excp_thread %>
    <%= f.input :excp_trace %>
    <%= f.input :notes %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
