<div class="page-header">
  <h3>sleep as android exceptions</h3>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <%= link_to 'Insert new exception', new_excp_path, :class=>'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <br>
    <table class="table table-striped" id='extab'>
      <thead>
        <tr>
          <th>Fixed?</th>
          <th>Date fixed</th>
          <th>Exception thread</th>
          <th>Exception trace</th>
          <th>Notes</th>
          <th>User</th>
          <th>Number of occurences</th>
          <th>Last occurence</th>
          <th>Add occurence</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Destroy</th>
        </tr>
      </thead>

      <tbody>
        <% @excps.each do |excp| %>
        <tr>
          <td><%= excp.fixed %></td>
          <td><%= excp.date_fixed %></td>
          <td><%= excp.excp_thread %></td>
          <td><%= excp.excp_trace %></td>
          <td><%= excp.notes %></td>
          <td><%= excp.user.username %></td>
          <td><%= Occurence.where(excp_id: excp.id).count %></td>
          <td><%= Occurence.where(excp_id: excp.id).order(date: :desc).first.date.to_s + ', build ' +
            Occurence.where(excp_id: excp.id).order(date: :desc).first.app_version %></td>
            <td><%= link_to 'Add occurence', new_occurence_path(:excp_id => excp.id) %></td>
            <td><%= link_to 'Show', excp %></td>
            <td><%= link_to 'Edit', edit_excp_path(excp) %></td>
            <td><%= link_to 'Destroy', excp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br>
