<% if signed_in? %>

<div class="page-header">
  <h3>sleep as android exceptions</h3>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <%= link_to 'Insert new exception', new_excp_path, :class=>'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <br>
    <table class="table table-striped" id='extab'>
      <thead>
        <tr>
          <th>Fixed?</th>
          <th>Date fixed</th>
          <th>Exception thread</th>
          <th>Exception trace</th>
          <th>Notes</th>
          <th>User</th>
          <th>Occurences count</th>
          <th>Last occurence</th>
          <th>Add occurence</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Destroy</th>
        </tr>
      </thead>

      <tbody>
        <% @excps.each do |excp| %>
        <tr>
          <td><%= excp.fixed %></td>
          <td><%= excp.date_fixed %></td>
          <td><%= excp.excp_thread %></td>
          <td><%= excp.excp_trace %></td>
          <td><%= excp.notes %></td>
          <td><%= excp.user.username %></td>
          <td><%= Occurence.where(excp_id: excp.id).count %></td>
          <td><% if Occurence.where(excp_id: excp.id).exists? %>
            <%= Occurence.where(excp_id: excp.id).order(date: :desc).first.date.to_s + ', build ' +
            Occurence.where(excp_id: excp.id).order(date: :desc).first.app_version %>
            <% end %>
          </td>
          <td><%= link_to 'Add occurence', new_occurence_path(:excp_id => excp.id), :class=>'btn btn-info' %></td>
          <td><button class='btn btn-info' data-toggle='modal' data-target="#myModal_<%= excp.id %>">Show</button></td>
          <td><%= link_to 'Edit', edit_excp_path(excp) %></td>
          <td><%= link_to 'Destroy', excp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

        <!-- Modal -->
        <div class="modal fade" id="myModal_<%= excp.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><%= '(' + excp.excp_thread + ') ' + excp.excp_trace %></h4>
              </div>
              <div class="modal-body">
                <% Occurence.where(excp_id: excp.id).each do |occr| %>
                <ul>
                  <li>
                    <%= occr.date %>
                    <%= occr.device_brand %>
                    <%= occr.device_model %>
                    <%= occr.operation_system_version %>
                    <%= occr.app_version %>
                  </li>
                </ul>
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<% end %>
